name: NuGet Publish

on:
  workflow_run:
    workflows: ["Release"]
    types:
      - completed

jobs:
  publish-nuget:
    if: ${{ github.event.workflow_run.conclusion == 'success' && startsWith(github.event.workflow_run.head_branch, 'v') }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.workflow_run.head_sha }}

      - name: Build and publish NuGet package
        env:
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: |
          dotnet restore
          dotnet build --configuration Release
          dotnet pack --configuration Release --no-build
          dotnet nuget push src/nArchGen/ConsoleUI/nupkg/*.nupkg --api-key $NUGET_API_KEY --source https://api.nuget.org/v3/index.json --skip-duplicate

